
@{
    Layout = null;
    int c = 0;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


<h1 class="text-center">Search Using Inverted Index</h1>
<hr/>
<h1 class="text-center"> Operations  </h1>
<hr />

@foreach (var o in ViewBag.operations)
{
    <h5 class="text-center">@o</h5>
}
<hr />

<h1 class="text-center">Documents Which Contain '@ViewBag.word' Word  </h1>

<table class="table tab-content">
   @{
       c= 0 ;
   }
    @foreach (var i in ViewBag.results)
    {
        <tr class="w-100">
            <td class="w-100 text-center">Document @i</td>
        </tr>
       c++;
    }
     @if (c > 0)
            {
        <tr class="w-100 text-center">
                    <td>Number Of Documents Which Have '@ViewBag.word' Word = @c</td>
                </tr>
            }
    
</table>
@if (c == 0)
    {
        <h1 style="text-align:center">No Documents Contain '@ViewBag.word' Word</h1>
    }
    <hr /> 
    @*<h1 class="text-center">Inverted Index </h1>
    <table class="table tab-content">
            @foreach (var y in @ViewBag.index)
            {
            <tr>
                <td style="width:100px">@y.Key</td>
                @foreach (var docId in y.Value)
                {
                    <td style="width:100px">@docId</td>
                }
             </tr>

            }

</table>*@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>