@{
    Layout = null;
    int c = 0;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

@foreach (var r in ViewBag.result)
{
    c++;
}

<h1 class="text-center">Search Using Term Document Indcidence Matrix</h1>
<hr />

@if (c > 0)
{
<h1 class="text-center"> Operations  </h1>
    <hr />

@foreach (var o in ViewBag.operations)
{
    <h5 class="text-center">@o</h5>
}
    <hr />
<table class="table table-hover text-xl-center">
        <thead>
            <tr>
                <th>Documents Name That Contain '@ViewBag.word' Word </th>
            </tr>
        </thead>
        <tbody>
            @{
                c = 0;
            }
            @foreach (var i in ViewBag.result)
            {
                c++;
                <tr>
                    <td>Document @i</td>
                </tr>
            }
            @if (c > 0)
            {
                <tr>
                    <td>Number Of Documents Which Have '@ViewBag.word' Word = @c</td>
                </tr>
            }
        </tbody>
    </table> 
 
}
@if (c == 0)
{
    <h1 class="text-center"> No Documents Contain '@ViewBag.word' Word </h1>

}


<a asp-action="index" asp-controller="termmatrix" class="btn btn-info"> View Matrix</a>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>